body {
    background: rgb(255, 255, 255);
    font: normal 20px Trebuchet;
}
.menu, .resumo {
    border: solid 2px #A61B0F;
    width: 60%;
    text-align: center;
    margin: 7px;
}
.resumo {
    width: 40%;
    align-self: flex-start;
    padding: 5px;
}

  /* 768 px */
  .category-btn {
    height: 100px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background: #A61B0F;
    padding: 10px;
    margin: 10px;
    font: bolder 30px Trebuchet;
    color: #F2F2F2;
  }
  
  /* 600 px*/
  /* 
  .option-btn {
    width: 150px;
    margin: 5px;
  } */
  
  .itens-btn {
    height:150px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background: rgba(242, 187, 32, 0.7);
    padding: 5px;
    margin: 10px;
    font: italic 20px Trebuchet;
    color: #A61B0F;
  }

  .burger-btn {
      border: solid 1px rgba(242, 187, 32, 0.7);
      margin: 1px;
      background: white;
  }
  
  .resumo-itens-btn {
    height:60px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background: rgb(202, 202, 202);
    padding: 0px;
    margin: 5px;
    
  }
  
  .order-btn {
    height:100px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background: #A61B0F;
    margin: 10px;
    margin-top: 25px;
    font: bold 24px Trebuchet;
  }
  
  .title-menu {
    font: bolder 32px Trebuchet;
    color: #A61B0F;
  }
  
  .title-primary {
    font: normal 22px Trebuchet;
    color: #A61B0F;
  }
  
  .title-secondary {
    font: bolder 18px Trebuchet;
    color: rgb(65, 65, 65);
    text-align: center;
    padding: 2px;
  }
  
  .title-tertiary {
    font: normal 18px Trebuchet;
    color: rgb(65, 65, 65);;
  }
  
  .title-resumo {
    font: normal 14px Trebuchet;
    color: rgb(0, 0, 0);
  
  }
  
  .input {
    font: normal 16px Trebuchet;
    text-align: right;
    margin-right: 35px;
  }
  
  .total {
    font: bold 20px Trebuchet;
    color: #A61B0F;
    padding: 20px ;
    border: double 0.5px rgb(245, 245, 245);
    background: rgba(242, 187, 32, 0.09);
  }
  
/* Color Theme Swatches in Hex */
.{ color: #A61B0F; }
.{ color: rgba(242, 187, 32, 0.7); }
.{ color: rgb(65, 65, 65);; }
.{ color: rgb(202, 202, 202); }
.{ color: rgb(248, 248, 248); }

