body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Color Theme Swatches in Hex */
.Cópia-de-Black-to-White-via-Red-1-hex { color: #FFFCFC; }
.Cópia-de-Black-to-White-via-Red-2-hex { color: #B2B2B0; }
.Cópia-de-Black-to-White-via-Red-3-hex { color: #FF9A00; }
.Cópia-de-Black-to-White-via-Red-4-hex { color: #8C081F; }
.CORES-HAMBURGUER-5-h               ex { color: #262525; }
.Cópia-de-Black-to-White-via-Red-5-hex { color: #000000; }








