body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Color Theme Swatches in Hex */
.{ color: #A61B0F; }
.{ color: rgba(242, 187, 32, 0.7); }
.{ color: rgb(65, 65, 65);; }
.{ color: rgb(202, 202, 202); }
.{ color: rgb(248, 248, 248); }
.{ color: rgb(143, 143, 143); }

/* Color Theme Swatches in Hex */
.HAMBURGUER-DE-COSTELA- { color: #F2F3EF; }
.CORES-HAMBURGUER-1-hex { color: #D93232; }
.CORES-HAMBURGUER-3-hex { color: #F2CB05; }
.CORES-HAMBURGUER-5-hex { color: #262525; }

/* .UNIMED---Obesidade-2-he{ color: #F2B705; }
.UNIMED---Obesidade-3-he{ color: #F27405; }
.UNIMED---Obesidade-4-he{ color: #F24405; }
.UNIMED---Obesidade-5-he{ color: #8C1D04; } */

.CORES-HAMBURGUER-2-hex { color: #730217; }

/* Color Theme Swatches in Hex */
.Cópia-de-Black-to-White-via-Red-1-hex { color: #FFFCFC; }
.Cópia-de-Black-to-White-via-Red-2-hex { color: #B2B2B0; }
.Cópia-de-Black-to-White-via-Red-3-hex { color: #FF9A00; }
.Cópia-de-Black-to-White-via-Red-4-hex { color: #8C081F; }
.CORES-HAMBURGUER-5-h               ex { color: #262525; }
.Cópia-de-Black-to-White-via-Red-5-hex { color: #000000; }

/* Color Theme Swatches in Hex */
.Yellow-on-Black-1-hex { color: #000000; }
.Yellow-on-Black-2-hex { color: #2E332F; }
.Yellow-on-Black-3-hex { color: #FECB00; }
.Yellow-on-Black-4-hex { color: #FFD535; }
.Yellow-on-Black-5-hex { color: #FFFFFF; }






